.loading-img {
    height: 40px;
    margin: -15px;
}

.app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.chat-message-system {
    text-align: center;
    font-size: 13px;
    color:gray;
}